[
 %% kernel config
 {kernel, [{start_timer, true}]},

 %% SASL config
 {sasl, [
         {utc_log, true},
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 104857600},   % 100 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

%% Lager config
 {lager, [
   {handlers,
    [
      {lager_file_backend, [{file, "log/console.log"}, {level, info}]},
      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/warning.log"}, {level, warning}]},
      {lager_logstash_backend, [{protocol,tcp},
        {ssl,true},
        {ssl_opts,[{verify,verify_none},{fail_if_no_peer_cert, false}]},
        {level,debug},
        {logstash_host,"10.14.204.22"},
        {logstash_port,9990},
        {node_role,"faxe"},
        {host,"my_ip"},
        {metadata,
          [{flow,[{encoding,string}]},
            {comp,[{encoding,string}]},
            {device,[{encoding,binary}]}]}]},
      {lager_console_backend, [{level, info}]}
    ]}
 ]}
].
